.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--main-white-color);
  color: var(--main-text-color);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
}

.list {
  list-style: none;
}

.linc {
  text-decoration: none;
}

.address {
  font-style: inherit;
}

.conteiner {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header .conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-section .conteiner {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.workplace-section .conteiner {
  padding-bottom: 94px;
}

.advantages-section .conteiner,
.customers-section .conteiner,
.team-section .conteiner,
.portfolio-section .conteiner {
  padding-top: 94px;
  padding-bottom: 94px;
}

.footer .conteiner {
  display: flex;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-list-item {
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-item:hover, .nav-list-item:focus {
  color: #2196f3;
}

.logo {
  color: #000000;
  margin-right: 93px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.logo-first-word {
  color: #2196f3;
}

.main-nav-list:not(:last-child) {
  margin-right: 50px;
}

.address-list {
  display: flex;
}

.address-list-item {
  display: flex;
  align-items: center;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-item:hover, .address-list-item:focus {
  color: #2196f3;
}

.address-list-item:hover .address-icons,
.address-list-item:focus .address-icons {
  fill: #2196f3;
}

.address-icons {
  margin-right: 10px;
  fill: #757575;
}

.main-address-list:not(:last-child) {
  margin-right: 50px;
}

.icon-envelope {
  width: 16px;
  height: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-smartphone {
  width: 10px;
  height: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active {
  position: relative;
  color: #2196f3;
}

.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.hero-section {
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
}

.hero-main-text {
  color: #ffffff;
  padding-left: 250px;
  padding-right: 250px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.modal-btn {
  color: #ffffff;
  background-color: #2196f3;
  padding: 10px 30px;
  border-radius: 4px;
  border-width: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.advantages-list {
  display: flex;
}

.advantages-icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.advantages-icon {
  width: 70px;
  height: 70px;
}

.advantages-list-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages-list-description {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.main-advantages-list {
  width: calc((100%-90px) / 4);
}

.main-advantages-list:not(:last-child) {
  margin-right: 30px;
}

.workplace-list {
  display: flex;
}

.workplace-list-item {
  position: relative;
  width: calc((100% - 60px) / 3);
}

.workplace-list-item:not(:last-child) {
  margin-right: 30px;
}

.workplace-description {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
}

.team-section {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
}

.team-list-image {
  margin-bottom: 30px;
}

.team-list-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
}

.team-list-position {
  color: #757575;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
}

.main-team-list {
  padding-bottom: 30px;
  width: calc((100% - 90px) / 4);
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.main-team-list:not(:last-child) {
  margin-right: 30px;
}

.social-links-list {
  display: flex;
  justify-content: space-between;
  padding: 0 32px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  background-color: #2196f3;
  border-radius: 50%;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover > .social-icon,
.social-link:focus > .social-icon {
  fill: #ffffff;
}

.customers-list {
  display: flex;
  justify-content: space-between;
}

.customers-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-item:hover, .customers-list-item:focus {
  border-color: #2196f3;
}

.customers-list-item:hover .customer-icon,
.customers-list-item:focus .customer-icon {
  fill: #2196f3;
}

.customer-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #afb1b8;
}

.footer {
  background-color: #2f303a;
}

.footer-left-side {
  margin-right: 70px;
}

.footer .logo {
  margin-right: 0;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-logo .logo {
  color: #ffffff;
}

.footer-address-list-item {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address-list-item:hover, .footer-address-list-item:focus {
  color: #2196f3;
}

.footer-middle-side {
  margin-right: 93px;
}

.footer-social-list {
  display: flex;
}

.footer-social-list-item {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-link:hover, .footer-social-list-link:focus {
  background-color: #2196f3;
}

.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.main-footer-address-list:not(:last-child) {
  margin-bottom: 9px;
}

.street {
  color: #ffffff;
}

.join {
  display: inline-block;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subscribe {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.newsletter-form {
  display: flex;
}

.newsletter-mail {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: rgba(255, 255, 255, 0.6);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter-mail:focus {
  outline: none;
  border-color: #2196f3;
}

.subscribe-btn {
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  padding-left: 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
}

.icon-send {
  margin-left: 10px;
  fill: #ffffff;
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.close-icon {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover .close-icon,
.close-btn:focus .close-icon {
  fill: #2196f3;
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-policy-link {
  padding-left: 4px;
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-decoration: underline;
  color: #2196f3;
}

.modal-form-field {
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form-field-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: #2196f3;
}

.modal-form-input:focus + .modal-input-icon {
  fill: #2196f3;
}

.modal-input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-massage-field {
  display: block;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-massage {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.01em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-massage::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-massage:focus {
  outline: none;
  border-color: #2196f3;
}

.send-form-btn {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
}

.modal-policy-lebel {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
}

.modal-policy-lebel::before {
  display: inline-block;
  content: ' ';
  width: 16px;
  height: 15px;
  margin-left: 13px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-policy-checkbox:checked + .modal-policy-lebel::before {
  background-color: #2196f3;
  background-image: url(../images/icon-check.svg);
  border: transparent;
  background-size: contain;
  background-origin: border-box;
}
/*# sourceMappingURL=main.css.map */