.advantages {
  &-icon-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: $filter-button-bg-color;
    margin-bottom: 30px;
  }

  &-icon {
    width: 70px;
    height: 70px;
  }

  &-list-title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
  }

  &-list-description {
    color: $description-text-color;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .main-advantages-list:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages {
    &-list {
      display: flex;
      flex-wrap: wrap;
    }

    &-list-title {
      text-align: start;
    }
  }

  .main-advantages-list {
    width: calc((100% - 30px) / 2);
    margin-bottom: 30px;

    &:nth-child(2n + 1) {
      margin-right: 30px;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    &-list {
      display: flex;
    }

    &-list-title {
      text-align: start;
    }
  }

  .main-advantages-list {
    width: calc((100%-90px) / 4);

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
