$main-white-color: #ffffff;
$main-text-color: #212121;
$accent-color: #2196f3;
$logo-second-word-color: #000000;
$description-text-color: #757575;
$footer-address-color: rgba(255, 255, 255, 0.6);
$filter-button-bg-color: #f5f4fa;
$footer-bg-color: #2f303a;
$header-border-color: #ececec;
$portfolio-conteiner-border-color: #eeeeee;
$social-list-team-color: #afb1b8;
